/* Type */

body {
	background-color: #99b5e7;
	color: black;
	font-family: sans-serif;
	line-height: 1.3;
    font-size: 1em;
    font-family: 'Playfair Display SC', serif;
    margin-right: 5em;
    margin-left: 5em;
    margin-top: 5em;
    max-width: 45em;
}

.letter-1 {
	font-size: 20em;
    position: absolute;
    margin-top: -.03em;
    transform: rotate(-20deg);
    color: #34ffff;
    text-shadow: 10px 2px #007eff;
}

.letter-2 {
	background-color: #8a8787;
    color: #ffa502;
    position: absolute;
    transform: rotate(-20deg);
    margin-left: 4.5em;
    margin-top: 4em;
}

.letter-3{
	background-color: #8a8787;
    color: #ffa502;
    position: absolute;
    transform: rotate(-20deg);
    margin-left: 11em;
    margin-top: 3.3em;
    max-width: 30em;
}

.letter-4{
	color: #e630e6;
    font-size: 2em;
    position: absolute;
    transform: rotate(69.3deg);
    margin-top: 1.5em;
    margin-left: 10em;
    max-width: 10em;
}

.letter-5{
	font-size: 15em;
    color: cornflowerblue;
    position: absolute;
    margin-top: 1em;
    margin-left: .6em;
    transform: skewX(-20deg);
    transform: skewX(-20deg);
    text-shadow: 10px 2px #f50c82;
}

.letter-6{
	color: white;
    word-spacing: 30px;
    position: absolute;
    margin-top: 23em;
    margin-left: 25em;
    transform: rotate(-21deg);
    max-width: 30em;
}

.letter-7{
	color: #b0ff47;
    font-size: 13em;
    position: absolute;
    margin-top: 2.4em;
    transform: rotate(-40deg);
    margin-left: 1em;
    text-shadow: 10px 2px #ffffff;
}

.letter-8{
	color: yellow;
    font-size: 1em;
    position: absolute;
    margin-top: 51em;
    max-width: 11em;
    margin-left: 22em;
    transform: rotate(67deg);
}

.letter-9{
	color: #00000061;
    position: absolute;
    max-width: 52em;
    background-color: #ffffff38;
    margin-left: 10em;
    margin-top: 20em;
    transform: rotate(-21deg);
}

.letter-10{
	color: #8365fb;
    font-size: 1.5em;
    position: absolute;
    transform: rotate(158deg);
    max-width: 20em;
    margin-top: 24em;
    margin-left: 20em;
}

.letter-11{
	color: #9bf79e;
    position: absolute;
    margin-top: 2.4em;
    max-width: 20em;
    margin-left: 37em;
    transform: rotate(70deg);
    column-count: 3;
    column-gap: 20px;
}

.letter-12{
	color: #ea9e4fd1;
    position: absolute;
    transform: rotate(-111deg);
    max-width: 22em;
    margin-top: 23em;
    margin-left: 49em;
}